@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

/*BOOTSTRAP**/

/******************** este es el menu**************/


.fondo {
    height: 100vh;
    background-image: url("../images/fondo2.jpg");
    background-repeat: none;
    background-size: cover;
    
}



/****************** main index ***********************/



/*****BOOTSTRAP***

/*****************************************CATALOGO************************/

 /*BOOTSTRAP*/



/*****************************************CATALOGO***********************/



.footer {
    background-color: pink;
}



/*****************************************NOSOTROS***************************************************/
.titulo {
display: flex;
justify-content: center;
align-items: center;
height: 100px;
}
.titulo-text {
margin: 0;
}


.nosotros {
margin: auto;
}

.nst {
    width: 75%;
    padding: 100px 0;
}

.subtitulo {
font-family: 'roboto', sans-serif;
font-size: 40px;
color: red;
font-weight: bold;

}

.contenedor {
display: flex;
}

.contenedor-texto {
width: 60%;
}

.padre-texto {
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    color: #250303;
    padding: 0 10% 0 0;
    text-align: justify;
}

.texto {
margin: 10px 0;
}

.redes-sociales {
margin: 20px 0;    
}

.st {
    font-family: 'roboto', sans-serif;
    font-size: 40px;
    color: red;
    font-weight: bold;
    margin: 30px 0;
}

.rs-icon {
margin: 20px 0;

}

.link-rs {

margin: 0 10px;
}

.imagen {
    width: 40%;
}

.imagen-imagen {
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
}