* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    
   
    
}

.logo {
width: 4rem;
}

.menu {
    display: flex;
    gap: 1rem;
}

.enlaces {
    text-decoration: none;
    color: #267e85;
}

/******************** este es el menu**************/


.fondo {
    height: 100vh;
    background-image: url("../images/fondo.jpg.png");
    background-repeat: none;
    background-size: cover;
    
}



/****************** main index ***********************/



.mercaderia {
    padding: 4rem;
    display: flex;
    gap: 3rem;
    
}

.mercaderias {
    flex: 1;
    background-color: pink;
    width: 33,33%;
}
.foto-merca {
    width: 100%;
}

.container {
    padding: 2rem   ;
}

/**********************CATALOGO***********************/



.footer {
    background-color: pink;
}