@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@media screen and (max-width: 900px) {
  .contenedor-acordeon {
    width: 90%;
  }
}
@media screen and (min-width: 900px) {
  .imagen {
    background-image: url("../../images/nosotros.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 60%;
    margin-right: 5%;
  }
  .contenedor-texto {
    width: 35%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.nav-item {
  animation: roll-in-blurred-left 0.65s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.nav-item0 {
  animation-delay: 0, 5s;
}

.nav-item1 {
  animation-delay: 1s;
}

.nav-item2 {
  animation-delay: 1, 5s;
}

.nav-item3 {
  animation-delay: 1s;
}

.nav-item4 {
  animation-delay: 2, 5s;
}
@keyframes roll-in-blurred-left {
  0% {
    transform: translateX(-1000px) rotate(-720deg);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    filter: blur(0);
    opacity: 1;
  }
}
.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.titulo .titulo-text {
  margin: 0;
}

.nosotros {
  margin: auto;
}
.nosotros .nst {
  width: 75%;
  padding: 100px 0;
}
.nosotros .subtitulo {
  font-family: "roboto", sans-serif;
  font-size: 40px;
  color: red;
  font-weight: bold;
}
.nosotros .contenedor {
  display: flex;
}
.nosotros .contenedor .contenedor-texto {
  width: 60%;
}
.nosotros .contenedor .contenedor-texto .padre-texto {
  font-family: "roboto", sans-serif;
  font-size: 20px;
  color: #250303;
  padding: 0 10% 0 0;
  text-align: justify;
}
.nosotros .contenedor .contenedor-texto .padre-texto .texto {
  margin: 10px 0;
}
.nosotros .contenedor .contenedor-texto .redes-sociales {
  margin: 20px 0;
}
.nosotros .contenedor .contenedor-texto .redes-sociales .st {
  font-family: "roboto", sans-serif;
  font-size: 40px;
  color: red;
  font-weight: bold;
  margin: 30px 0;
}
.nosotros .contenedor .contenedor-texto .redes-sociales .rs-icon {
  margin: 20px 0;
}
.nosotros .contenedor .contenedor-texto .redes-sociales .rs-icon .link-rs {
  margin: 0 10px;
}
.nosotros .imagen {
  width: 40%;
}
.nosotros .imagen .imagen-imagen {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 5px;
}

.fondo {
  height: 100vh;
  background-image: url("../images/fondo2.png");
  background-repeat: none;
  background-size: cover;
}

.container-acordeon {
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-top: 80px;
}

.container-acordeon h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 35px;
}

.acordeon {
  background: #fff;
}

.acordeon label {
  display: block;
  padding: 20px;
  font-size: 20px;
  background: #1c1c1c;
  color: #fff;
  cursor: pointer;
  margin-bottom: 2px;
  transition: all 300ms ease;
}

.acordeon label:hover {
  background: #2e2e2e;
}

.acordeon .contenido {
  padding: 0px;
  margin: 0px 20px;
  max-height: 0px;
  overflow: hidden;
  transition: all 300ms ease;
}

.btn-acordeon:checked ~ .contenido {
  max-height: 600px;
  padding: 15px 0px;
}

.btn-acordeon {
  display: none;
}

.dark-footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-links a {
  color: #fff;
  margin-right: 20px;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */