@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$fontkanit: 'Courier New', Courier, monospace;  
$color-primario: #0074D9;
$color-negro: #000;
$color-blanco: #fff;
$color-rojo: red;
$color-bordo: #250303;
$color-azul: blue;
$color-verde: #0f0;